In [ ]:
"data/DisasterResponse.db"

In [15]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///../data/DisasterResponse.db')
sql_query = "SELECT * FROM sqlite_master"
# sql_query = "SELECT * FROM sqlite_master where type='table'"
df = pd.read_sql(sql_query, engine)
df.head()

,type,name,tbl_name,rootpage,sql
0,table,data/DisasterResponse.db,data/DisasterResponse.db,2,"CREATE TABLE ""data/DisasterResponse.db"" (\n\tm..."
1,table,DisasterResponse,DisasterResponse,1787,"CREATE TABLE ""DisasterResponse"" (\n\tmessage T..."